@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";

@layer base {
  button:enabled {
    cursor: pointer;
  }
}

@custom-variant dark {
  &:root[data-theme="dark"],
  :root[data-theme="dark"] & {
    @slot;
  }

  &:root:not([data-theme]),
  :root:not([data-theme]) & {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

:root {
  --white-overlay: linear-gradient(#ffffff80, #ffffff80);
}

@theme {
  --breakpoint-tb: 48em;
  --breakpoint-dt: 64em;

  --font-sans: var(--font-rubik);

  --color-purple: #a729f5;
  --color-pure-white: #ffffff;
  --color-dark-navy: #313e51;
  --color-grey-navy: #626c7f;
  --color-light-grey: #f4f6fa;
  --color-navy: #3b4d66;
  --color-light-bluish: #abc1e1;
  --color-green: #26d782;
  --color-red: #ee5454;

  --spacing: 0.25rem;

  --shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
}
