@import "tailwindcss";

@layer base {
  button:enabled {
    cursor: pointer;
  }
}

@theme {
  --font-sans: var(--font-geist-sans);

  --color-purple: #a729f5;
  --color-pure-white: #ffffff;
  --color-dark-navy: #313e51;
  --color-grey-navy: #626c7f;
  --color-light-grey: #f4f6fa;
  --color-navy: #3b4d66;
  --color-light-bluish: #abc1e1;
  --color-green: #26d782;
  --color-red: #ee5454;
}
